@{
    ViewBag.Title = "Confirm Email";
}

<h1 style="margin-top:80px;color:blue">@ViewBag.Title.</h1>
<div>
    <p style="font-size:xx-large;color:black">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
