@{
    ViewBag.Title = "Reset password confirmation";
}


<div style="font-size:xx-large">
    
    <p style="margin-top:140px;text-align:center">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
