@*<a class="get started scroll to active" href="@Url.Action("GioHang",
    "GioHang")" style="font-weight:bold; text-decoration:none">
        Giỏ hàng (@ViewBag.Tongsoluongsanpham)
    </a>*@
@model List<KK_BookStore.Models.GioHang>
<li><a style="font-size: x-large; color: white " href="https://localhost:44339/GioHang/GioHang"><i class="fa-solid fa-cart-shopping"></i>(@ViewBag.TongSoLuong)</a></li>


