@{
    ViewBag.Title = "About";
}
<section style="margin-top:50px;margin-left:350px;" class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div style="" class="col-lg-6">
                <div style="font-size:xx-large;color:coral" class="about-text go-to">
                    <h1 class="dark-color">About Me</h1>
                    <h6 style="color:blue" class="theme-color lead">A Student from Hutech University &amp; a man who always has a smile on his face</h6>
                    <p style="font-size:large;color:black">I <mark>design and develop</mark>this website by myself. I hope you will enjoy this web. Thank you 😉</p>
                    <div style="padding-top:10px" class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday <i class="fa fa-birthday-cake"></i></label>
                                <p style="color:dimgrey;font-size:large">21th December 2002</p>
                            </div>
                            <div class="media">
                                <label>Age <i class="fa fa-calendar"></i></label>
                                <p style="color:dimgrey;font-size:large">21 Years Young</p>
                            </div>
                            <div class="media">
                                <label>Nationality <i class="fa fa-globe"></i></label>
                                <p style="color:dimgrey;font-size:large">Viet Nam</p>
                            </div>
                            <div class="media">
                                <label>Address<i  class="fa fa-map"></i></label>
                                <p style="color:dimgrey;font-size:large">Ho Chi Minh City, Viet Nam</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail <i class="fa fa-envelope"></i></label>
                                <p style="color:dimgrey;font-size:large">nguyentuongkhang2112</p>
                            </div>
                            <div class="media">
                                <label>Phone <i class="fa fa-phone"></i></label>
                                <p>08343636**</p>
                            </div>
                            <div class="media">
                                <label>Instagram <i class="fa fa-instagram"></i></label>
                                <p style="color:dimgrey;font-size:large">nteeka</p>
                            </div>
                            <div class="media">
                                <label>Freelance <i class="fa fa-briefcase"></i></label>
                                <p style="color:dimgrey;font-size:large">Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img width="300" src="\Content\z4799609119173_002_0fbb2e9489776db5aa7f9aa248413f4b.jpg" title="" alt="">
                </div>
            </div>
        </div>
        
    </div>
</section>
